bgt-linux-pcie-drv/v4l/.*
!bgt-linux-pcie-drv/v4l/.config
!bgt-linux-pcie-drv/v4l/.version
!bgt-linux-pcie-drv/v4l/.myconfig
!bgt-linux-pcie-drv/v4l/.kconfig.dep
bgt-linux-pcie-drv/v4l/*.c
bgt-linux-pcie-drv/v4l/*.h
bgt-linux-pcie-drv/v4l/*.o
bgt-linux-pcie-drv/v4l/*.ko
bgt-linux-pcie-drv/v4l/*.mod
bgt-linux-pcie-drv/v4l/oss
bgt-linux-pcie-drv/v4l/modules.order
bgt-linux-pcie-drv/v4l/Module.symvers
bgt-linux-pcie-drv/v4l/firmware/av7110/bootcode.bin
bgt-linux-pcie-drv/v4l/firmware/cpia2/stv0672_vp4.bin
bgt-linux-pcie-drv/v4l/firmware/dabusb/bitstream.bin
bgt-linux-pcie-drv/v4l/firmware/dabusb/firmware.fw
bgt-linux-pcie-drv/v4l/firmware/ihex2fw
bgt-linux-pcie-drv/v4l/firmware/ttusb-budget/dspbootcode.bin
bgt-linux-pcie-drv/v4l/firmware/vicam/firmware.fw
!bgt-linux-pcie-drv/v4l/i2c-compat.h
!bgt-linux-pcie-drv/v4l/compat.h
