# Needed by VIDEO_PCI_SKELETON, SAA7231_DRV, SAA7231_CORE, SND_BT87X
config PCI
	tristate
	default y

# Needed by MEDIA_ATTACH, always
config MODULES
	tristate
	default y

# Needed by MEDIA_TUNER
config MEDIA_TUNER_TEA5767
	tristate
	default m

# Needed by MEDIA_TUNER
config MEDIA_TUNER_XC2028
	tristate
	default m

# Needed by DVB_CORE
config CRC32
	tristate
	default y

# Needed by MEDIA_TUNER
config MEDIA_TUNER_MC44S803
	tristate
	default m

# Needed by MEDIA_TUNER
config MEDIA_TUNER_MT20XX
	tristate
	default m

# Needed by MEDIA_TUNER
config MEDIA_TUNER_TEA5761
	tristate
	default m

# Needed by SND_BT87X
config SND
	tristate
	default m

# Needed by SND_FM801_TEA575X
config SND_FM801
	tristate
	default m

# Needed by MEDIA_SUPPORT
config HAS_IOMEM
	tristate
	default y

# Needed by MEDIA_TUNER
config MEDIA_TUNER_XC5000
	tristate
	default m

# Needed by MEDIA_TUNER, MEDIA_TUNER_SIMPLE
config MEDIA_TUNER_TDA9887
	tristate
	default m

# Needed by VIDEO_PCI_SKELETON
config BUILD_DOCSRC
	tristate
	default n

# Needed by MEDIA_TUNER
config MEDIA_TUNER_TDA8290
	tristate
	default m

# Needed by VIDEOBUF2_DMA_CONTIG, VIDEOBUF2_VMALLOC, VIDEOBUF2_CORE
config DMA_SHARED_BUFFER
	tristate
	default y

# Needed by VIDEOBUF2_DMA_CONTIG, VIDEOBUF_DMA_CONTIG, VIDEOBUF_DMA_SG
config HAS_DMA
	tristate
	default y

# Needed by DVB_STV6110x, DVB_CXD2861, DVB_CXD2850, DVB_LNBP21, DVB_CXD2843, DVB_CXD2817, SAA7231_CORE, DVB_A8290, DVB_CXD2834, SAA7231_DRV, MEDIA_TUNER, DVB_S5H1411, DVB_TDA18272, DVB_STV090x, MEDIA_TUNER_SIMPLE, DVB_TDA10048, DVB_CXD2820R, VIDEO_V4L2_COMMON, VIDEO_V4L2, MEDIA_TUNER_TDA18271
config I2C
	tristate
	default m

# Needed by SND_BT87X
config SND_PCM
	tristate
	default m

# Needed by SND_FM801_TEA575X
config VIDEO_V4L1
	tristate
	default n

# Needed by DVB_CORE
config NET
	tristate
	default y

# Needed by DVB_CORE
config INET
	tristate
	default y

